#hero-image { 
    border-radius: 5% 20% !important;
    border: none;
}

.show-case {
    margin-bottom: 100px !important;
}

.prev-works img{ 
    border-radius: 10px !important;
}
.img-1 img, .img-2 img {
    padding:0px !important;
    width: 600px;
}
/* CTA Contact */
.contact-cta {
    margin: 100px 0px !important;
    background-image: url('/assets/img/banner-cta.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-cta h1 {
    padding: 20px;
    margin-left: 1%;
}

/* Brand Logo */
.web-tools img {
    width: 170px;
    height: 120px;
}
.social-logo a{
    font-size: 18px !important;

}
/* Responsive */
@media screen and (min-width: 1024px) {
    .work-1, .work-2 {
      padding:0 30px;
    }
  }
@media screen and (min-width: 768px) {
    .work-1, .work-2 {
      padding:0 20px;
    }
    .work-title {
    padding-bottom: 20px !important;
    }
  }
  
@media only screen and (max-width: 1024px) {
    .show-case h1 {
      font-size: 2.3rem;
    }
    .show-case p {
        font-size: 16px !important;
    }
    .card {
        width:18rem  !important;
    }
    .card img {
        width: 18rem;
        margin: auto;
    }
    .card h1 {
        font-size: 25px !important;
    }
    .card p {
        font-size: 12px;
    }

  }
@media only screen and (max-width: 768px) {
    .show-case {
     padding: 10px !important;   
    }
    .card {
        width:13rem  !important;
        height: 250px;
    }
    .card img {
        width: 13rem;
        margin: auto;
    }
    .card h1 {
        font-size: 20px !important;
    }
    .card p {
        font-size: 10px;
    }
    
    .work-1 h1, .work-2 h1 {
        font-size: 25px !important;
    }
    .work-1 p, .work-2 p {
        font-size: 20px !important;
    }
  }

  /* Tablet Responsive */
@media screen and (max-width: 767px) and (min-width: 426px) {
    .card {        
        margin: 20px auto;
    }
  }

  @media only screen and (max-width: 425px) {
    .prev-works {
        padding-top: 0px !important;
    }
    .work-title {
        padding-top: 25px !important;
    }
    button#hire-button {
     margin-top: 0 !important;
     padding: 5px 5px !important;  
     font-size: 17px;
    }
    .main-content {
        /* Ongoing */
        margin-bottom: 70px !important;
    }
    .card {
        width: 17rem !important; 
        margin: 20px auto;
        height: 300px;
    }
    .card img {
        width: 17rem !important;
    }
    /* Projects */
    .work-1 {
        text-align: center !important;
        padding: 15px !important;
        display:flex;
        flex-direction: column-reverse;
    }
    .work-sub1 h1, .work-sub2 h1 {
        margin-top: 10px;
        font-size: 17px !important;
    }
    .work-sub1 p,.work-sub2 p{
        font-size: 13px !important;
    }
    .work-sub1 button, .work-sub2 button {
        padding: 5px;
        font-size: 13px;
    }
    .work-2 {
        display: block;
        text-align: center !important;
        padding: 15px !important;
    }
    /* CTA Contat */
    .cta-item h1 {
        font-size: 27px !important;
    }
    .cta-item button {
        font-size: 15px !important;
    }
    .social-logo{
        display: flex !important;
        flex-direction: column !important;
        text-align: center !important;
        align-items: center !important ;
    }
    .social-logo p {
        font-size: 15px !important;
    }
    .social-icon {
        text-align: center !important;
    } 
    .logo-footer {
        text-align: center !important;
    }
  }